@import
  url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.nav-list {
  background: #333;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
  text-decoration: none;
  font-size: xx-large;
}

.main-content {
  margin-top: 14.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content a {
  background: #eee;
  border-radius: 15px;
  color: #000;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}